@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode overrides */
body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
}


.sidebar {
  min-height: 100vh;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

/* Lighter sidebar options */
.sidebar-option {
  background-color: rgba(255, 255, 255, 0.1);
  /* Light overlay for dark mode */
  transition: background-color 0.2s ease;
}

.sidebar-option:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* Slightly lighter on hover */
}